#card {
    margin-top: 50px;
    margin-left: 550px;
    padding: 20px;
    background: #FAFBFA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.896);
    max-width: 640px;
    height: 300px;
    text-align: left;
    border-radius: 24px;
    margin-bottom: 50px;
    position: relative;
    /* Add position relative to use absolute positioning */
}

#employee-name {
    color: #303030;
    font-family: Asap;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    /* Added margin bottom for spacing */
}

#employee-designation {
    color: #303030;
    font-family: Comme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    /* Added margin bottom for spacing */
}

#card-right-smedia {
    width: 200px;
    height: 140.212px;
    flex-shrink: 0;
    position: absolute;
    top: 200px;
    /* Adjust position from top */
    right: 30px;
    /* Adjust position from right */
}

#card-right-smedia img {
    margin-right: 20px;
    /* Adjust spacing between images */
    flex-shrink: 0;
    height: 43px;
    border-radius: 100px;
    background: #FAFBFA;
}

#logo-container {
    position: absolute;
    top: 10px;
    /* Adjust the distance from the top */
    right: 20px;
    /* Adjust the distance from the right */
}

#logo-container img {
    max-width: 300px;
    /* Adjust the maximum width of the logo */
    max-height: 300px;
}

#employee-photo {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
    /* Move the employee photo to the right */
    margin-right: 20px;
    /* Adjust spacing */
    margin-bottom: 5px;
}