#side-panel {
    height: 100vh;
    width: 250px;
    background-color: #faf8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 70px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: #333;
    transition: all 0.3s ease;
    z-index: 1000;
    border-radius: 2%;
    margin-bottom: 50px;
}

#side-panel:hover {
    width: calc(100vw / 5);
    background-color: white;
    color: #323232;
}

#side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: flexbox;
}

#side-panel a:hover {
    color: #555;
}

#side-panel form {
    margin-top: 20px;
    padding: 0 20px;
}

#side-panel label {
    display: block;
    margin-bottom: 8px;
}

#side-panel input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#side-panel button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}